@{
    ViewData["Title"] = "Delete Entertainer";
}
@model Entertainer

<div class="container">
    <h1>Delete Confirmation:</h1>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">Stage Name:</dt>
        <dd class="col-sm-8">@Model.EntStageName</dd>
    </dl>
    <p>Are you sure you want to delete @(Model.EntStageName ?? "this entertainer")?</p>
    <form method="post" asp-controller="Home" asp-action="DeleteEntertainer">
        <input type="hidden" name="EntertainerId" value="@Model.EntertainerId" />
        <br/>
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="@Url.Action("EntertainerDetail", "Home", new { id = Model.EntertainerId})" class="btn btn-secondary">No, Cancel</a>
    </form>
</div>