@{
    ViewData["Title"] = "Entertainers";
}
@model IQueryable<Entertainer>

<div class="container">
    <br/>
    <br/>
    <div class="d-flex justify-content-between align-items-center">
        <h1>Our Entertainers:</h1>  
        <a class="btn btn-success" asp-controller="Home" asp-action="AddEntertainer">Add Entertainer</a>
    </div>
    <br/>
    <br/>
    <ul class="list-group">
        @foreach (var e in Model)
        {
            <li class="list-group-item d-flex justify-content-between">
                <span style="font-size: 1.2em; font-weight:  bold;">@e.EntStageName</span>
                <a class="btn btn-primary btn-sm float-right" asp-controller="Home" asp-action="EntertainerDetail" asp-route-id="@e.EntertainerId">Details</a>
            </li>
        }
    </ul>
</div>
