@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br/>
    <h1>Welcome to The Entertainment Agency!</h1>
    <br/>
    <p>
        We are dedicated to providing you access to the best performers the entertainment
        industry has to offer! Look at our list of <a asp-controller="Home" asp-action="Entertainers">entertainers</a>
        to reach out to them!
    </p>
    <br/>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Entertainers">View our Entertainers</a>
</div>