@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br/>
    <br/>
    <br/>
    <h1>Welcome to the Entertainment Agency!</h1>
    <br/>
    <br/>
    <br/>
    <a asp-controller="Home" asp-action="Entertainers">View our Entertainers</a>
</div>